
<div class="container">
  <h3>New dose for cocktail: </h3>
  <h1> <%= link_to @cocktail.name, cocktail_path(@cocktail) %> </h1>
    <div class="row">
      <div class="col-xs-6">
        <%= simple_form_for [@cocktail, @dose] do |f| %>
          <%= f.input :description %>
          <%= f.association :ingredient, collection: Ingredient.all %>
          <%= f.submit "add a dose", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
</div>
